<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div ng-app="myApp">
<div style="text-align:left">
  <h1>
    My Library!
  </h1>
</div>
<div class="buttons">
  <div class="add">
      <!-- <button style="float:left">Add new book</button> -->

    <!-- <a class="btn btn-lg btn-success" href="/new-books.htm" target="_blank"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new Book</a> -->
    <!-- <base href="/new"> -->
    <!-- <a routerLink="/new" routerLinkActive="active">Add new book</a> -->

      <!-- <div class="ng-view"></div>  -->
      
      <!-- <router-outlet><a routerLink = ['/new-books']> Add new book </a> </router-outlet> -->
  </div>
  <div class="search">
    <label>Search for book</label>
    <input type="text" name="searchBook">
    <label>Search for member</label>
    <input type="text" name="searchMember">
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
<div ng-app="table">
  <div class="table table-fixed">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name of the book</th>
          <th>Author</th>
          <th>Editor</th>
          <th>Publishing date</th>
          <th>Availability</th>
          <th>Buttons</th>
        </tr>
      </thead>
      <tbody  ng-controller="listCtrl">
          <tr ng-repeat="data in Books">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.author}}</td>
            <td>{{data.editor}}</td>
            <td>{{data.publication_date}}</td>
            <td>{{data.availability}}</td>
            <td>
              <!-- <button>View</button> -->
              <a href="#" target="_blank">View</a>
              <button>Edit</button>
              <button>Remove</button>
            </td>
          </tr>
      </tbody>
    </table>
    <div class="view">
      <div class="container">
          <div class="row">
          <nav class= "navbar navbar-default" role= "navigation" >
          <div class= "navbar-header" >
          <a class= "navbar-brand" href= "#/books"><i class="glyphicon glyphicon-th-large"></i> Books List </a>
          <br>
          <!-- mozebi kje treba da bide book._id. taka beshe -->
          <a ng-show="book.id" class= "navbar-brand" href= "#/edit-book/0"><i class="glyphicon glyphicon-plus"></i> Create Book </a>
          <br>
          <a ng-show="book.id" class= "navbar-brand pull-right"><i class="glyphicon glyphicon-edit"></i> Currently Editing Book Number: {{book.id}}</a>
          </div>
          </nav>
          <header>
              <h3>{{title}}</h3>
          </header>
          <div class="col-md-12">
  
  <form role="form" name="myForm" class="form-horizontal">
  <div class="row">
  <div class= "form-group" ng-class="{error: myForm.name.$invalid}">
      <label class= "col-md-2"> Name </label>
      <div class="col-md-4">
      <input name="name" ng-model="book.name" type= "text" class= "form-control" placeholder="Book name" required/>
      <!-- <span ng-show="myForm.name.$dirty && myForm.name.$invalid" class="help-inline">Name Required</span> -->
      </div>
  </div>
  <div class= "form-group">
      <label class= "col-md-2"> Author </label>
      <div class="col-md-4">
      <input name="author" ng-model="book.author" type= "text" class= "form-control" placeholder="Book author" required/>
      <!-- <span ng-show="myForm.email.$dirty && myForm.email.$invalid && !myForm.email.$error.email" class="help-inline">Email Required</span> -->
      <!-- <span ng-show="myForm.email.$error.email" class="help-inline">Email is not valid</span> -->
      </div>
  </div>
  <div class= "form-group">
      <label class= "col-md-2">Editor </label>
      <div class="col-md-4">
      <input ng-model="book.editor" type= "text" class= "form-control" placeholder= "Book Editor"/>
      </div>
  </div>
  <div class= "form-group">
      <label class= "col-md-2">Resume </label>
      <div class="col-md-4">
      <!-- <input ng-model="book.resume" type= "text" class= "form-control" placeholder= "Book Resume"/> -->
      <textarea ng-model="book.resume"></textarea>
      </div>
  </div>
  <div class= "form-group">
      <label class= "col-md-2">Publication date </label>
      <div class="col-md-4">
      <input ng-model="book.publication_date" type= "date" class= "form-control" placeholder= "Publication Date"/>
      </div>
  </div>
  <div class= "form-group">
      <label class= "col-md-2"></label>
      <div class="col-md-4">
      <!-- <a href="#/" class="btn">Cancel</a> -->
          <button ng-click="saveBook(book);" 
                  ng-disabled="isClean() || myForm.$invalid"
                  class="btn btn-primary">{{buttonText}}</button>
          <button ng-click="deleteBook(book)"
                  ng-show="book.id" class="btn btn-warning">Delete</button>
      </div>
  </div>
  </div>
  </form>
          </div></div>
      </div>
  </div>
  </div>
</div>
  <script>

    // var app = angular.module('table', []);
    // app.controller('libraryContoller', function($scope, $http) {
    //     $http.get('/library/services/Books') /*patekata*/
    //     .then(function (response) {$scope.Books = response.data.records;});
// console.log('fytftytfytf');
// });
        var app = angular.module('myApp', [/*'ngRoute'*/]);
        app.factory("services", ['$http', function($http) {
          // console.log('cdbdsjvbj');
        // var serviceBase = '/library/services/';
        // console.log(serviceBase);
        var obj = {};
        obj.getBooks = function(){
            return $http.get(/*serviceBase +*/ '/Books');
            console.log('vgfhhgh');
        }
        obj.getBook = function(id){
            return $http.get(serviceBase + 'Books?id=' + id);
        }

        obj.insertBook = function (book) {
        return $http.post(serviceBase + 'insertBook', book).then(function (results) {
            return results;
        });
        };

        obj.updateBook = function (id,book) {
          return $http.post(serviceBase + 'updateBook', {id:id, book:book}).then(function (status) {
              return status.data;
          });
        };

        obj.deleteBook = function (id) {
          return $http.delete(serviceBase + 'deleteBook?id=' + id).then(function (status) {
              return status.data;
          });
        };

        return obj;   
        }]);

        app.controller('listCtrl', function ($scope, services) {
        services.getBooks().then(function(data){
          // console.log($scope.books);
          
            $scope.books = data.data;
        });
        });

        app.controller('editCtrl', function ($scope, $rootScope, $location, $routeParams, services, book) {
        var id = ($routeParams.id) ? parseInt($routeParams.id) : 0;
        $rootScope.title = (id > 0) ? 'Edit Book' : 'Add Book';
        $scope.buttonText = (id > 0) ? 'Update Book' : 'Add New Book';
          var original = book.data;
          original._id = id;
          $scope.id = angular.copy(original);
          $scope.id._id = id;

          $scope.isClean = function() {
            return angular.equals(original, $scope.book);
          }

          $scope.deleteBook = function(book) {
            $location.path('/');
            if(confirm("Are you sure to delete book number: "+$scope.book._id)==true)
            services.deleteBook(book.id);
          };

          $scope.saveBook = function(book) {
            $location.path('/');
            if (id <= 0) {
                services.insertBook(book);
            }
            else {
                services.updateBook(id, book);
            }
        };
        });

        app.config(['$routeProvider',
        function($routeProvider) {
        $routeProvider.
          when('/', {
            title: 'Books',
            templateUrl: 'app/app.component.html',
            controller: 'listCtrl'
          })
          .when('/new-books/:id', {
            title: 'Edit Books',
            templateUrl: 'app/new-books.html',
            controller: 'editCtrl',
            resolve: {
              book: function(services, $route){
                var id = $route.current.params.id;
                return services.getBooks(id);
              }
            }
          })
          .otherwise({
            redirectTo: '/'
          });
        }]);
        app.run(['$location', '$rootScope', function($location, $rootScope) {
        $rootScope.$on('$routeChangeSuccess', function (event, current, previous) {
            $rootScope.title = current.$$route.title;
        });
        }]);

  </script>
  </div>


