<style type="text/css">
    .form-horizontal input.ng-invalid.ng-dirty {
      border-color: #FA787E;
    }
    .form-horizontal input.ng-valid.ng-dirty {
      border-color: #78FA89;
    }
  </style>
  <forma>
  <div class="view">
      <div class="container">
          <div class="row">
          <nav class= "navbar navbar-default" role= "navigation" >
          <div class= "navbar-header" >
          <a class= "navbar-brand" href= "#/books"><i class="glyphicon glyphicon-th-large"></i> Books List </a>
          <a ng-show="book._id" class= "navbar-brand" href= "#/edit-book/0"><i class="glyphicon glyphicon-plus"></i> Create Book </a>
          <a ng-show="book._id" class= "navbar-brand pull-right"><i class="glyphicon glyphicon-edit"></i> Currently Editing Book Number: {{book._id}}</a>
          </div>
          </nav>
          <header>
              <h3>{{title}}</h3>
          </header>
          <div class="col-md-12">
  
  <form role="form" name="myForm" class="form-horizontal">
  <div class="row">
  <div class= "form-group" ng-class="{error: myForm.name.$invalid}">
      <label class= "col-md-2"> Name </label>
      <div class="col-md-4">
      <input name="name" ng-model="book.name" type= "text" class= "form-control" placeholder="Book name" required/>
      <!-- <span ng-show="myForm.name.$dirty && myForm.name.$invalid" class="help-inline">Name Required</span> -->
      </div>
  </div>
  <div class= "form-group">
      <label class= "col-md-2"> Author </label>
      <div class="col-md-4">
      <input name="author" ng-model="book.author" type= "text" class= "form-control" placeholder="Book author" required/>
      <!-- <span ng-show="myForm.email.$dirty && myForm.email.$invalid && !myForm.email.$error.email" class="help-inline">Email Required</span> -->
      <!-- <span ng-show="myForm.email.$error.email" class="help-inline">Email is not valid</span> -->
      </div>
  </div>
  <div class= "form-group">
      <label class= "col-md-2">Editor </label>
      <div class="col-md-4">
      <input ng-model="book.editor" type= "text" class= "form-control" placeholder= "Book Editor"/>
      </div>
  </div>
  <div class= "form-group">
      <label class= "col-md-2">Resume </label>
      <div class="col-md-4">
      <input ng-model="book.resume" type= "text" class= "form-control" placeholder= "Book Resume"/>
      </div>
  </div>
  <div class= "form-group">
      <label class= "col-md-2">Publication date </label>
      <div class="col-md-4">
      <input ng-model="book.publication_date" type= "date" class= "form-control" placeholder= "Publication Date"/>
      </div>
  </div>
  <div class= "form-group">
      <label class= "col-md-2"></label>
      <div class="col-md-4">
      <!-- <a href="#/" class="btn">Cancel</a> -->
          <button ng-click="saveBook(book);" 
                  ng-disabled="isClean() || myForm.$invalid"
                  class="btn btn-primary">{{buttonText}}</button>
          <button ng-click="deleteBook(book)"
                  ng-show="book._id" class="btn btn-warning">Delete</button>
      </div>
  </div>
  </div>
  </form>
          </div></div>
      </div>
  </div>
</forma>